.pSubTBox {
  border: 3px solid #000;
  margin: 10px;
}

.pSubTitle {
  text-align: center;
}

.pSectTitle {
  text-align: left;
  padding: 5px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.userIcon {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
