#sBeer{
    margin-top: 75px;
    margin-left: 1155px;
    width: 316px;
    border: 1px solid lightgrey;
    box-shadow:19px 22px 10px #888888;
    height: 155px;
    background-color:#2B2726
}
.sTable{
    width:55%;
}
.ctype th {
    color:#907651;
}
.sResult tr td a{
    color:#907651;
}
#sTitle{
    font-size: 30px;
    margin-left: 20px;
    color:white;
}
#aBeer{
    margin-left: 6px;
}
.bSearch {
    background-color: lightsteelblue;
    color:black;
    font-weight: bold;
    width: 298px;
    margin-left: 9px;
    margin-top: -4px;
}
.bList{
    margin-left: 100px;
    margin-top: -152px;
    margin-left: 408px;
}
.label{
    margin-top: 15px;
    padding:10px;
}
.top    {
    margin-top: 10px;
}
.searchPage{
    background-image: url("http://i.imgur.com/s4ywviP.jpg");
    height: 4000px;
    width: 1900px;
}
.beerSel{
    float: left;
    width: 33%;
    margin-left: 21px;
    height: 350px;
    margin-bottom: 5px
}
.beerlabel{
    margin-top: 10px;
}
#sInput{
    width: 300px;
    height: 45px;
    margin-left: 8px;
}
html {
  scroll-behavior: smooth;
}
.bigTitle {
  font-size: 4em;
  color: black;
}
.customHSpacer1 {
  width: 12.5%;
}

.customVSpacer1 {
  margin: 5.25% 0;
}

.beerHomeNav {
  height: 10vh;
}
.beerHomeNav li a{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.lgImg {
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

.imgHomeSmall {
  text-align: center;
  border: 3px solid #000;
  height: 35vh;
  font-size: 3em;
}

.pSubTBox {
  border: 3px solid #000;

}

.pSubTitle {
  text-align: center;
}

.pSectTitle {
  text-align: left;
  padding: 5px;
}

#SFO {
  background-image: url("/css/img/SFO.png");
  background-size: cover;
}

#DEN {
  background-image: url("/css/img/DEN.png");
  background-size: cover;
}

#BOS {
  background-image: url("/css/img/BOS.png");
  background-size: cover;
}

#SEA {
  background-image: url("/css/img/SEA.png");
  background-size: cover;
}

#DFW {
  background-image: url("/css/img/DFW.png");
  background-size: cover;
}

#CHI {
  background-image: url("/css/img/CHI.png");
  background-size: cover;
}

#pale {
  background-image: url("/css/img/pale.png");
  background-size: cover;
}

#mild {
  background-image: url("/css/img/mild.png");
  background-size: cover;
}

#wheat {
  background-image: url("/css/img/wheat.png");
  background-size: cover;
}

#lambic {
  background-image: url("/css/img/lambic.png");
  background-size: cover;
}

#lager {
  background-image: url("/css/img/lager.png");
  background-size: cover;
}

#stout {
  background-image: url("/css/img/stout.png");
  background-size: cover;
}
