html {
  scroll-behavior: smooth;
  top: 0;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.userIcon {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;

.bigTitle {
  font-size: 4em;
}
.customHSpacer1 {
  width: 12.5%;
}

.customVSpacer1 {
  margin: 5.25% 0;
}

.beerHomeNav li a {
  height: 10vh;
  border-right: 2px solid #000;
}

.lgImg {
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

.imgHomePop {
  max-height: 30vh;
}

.textHomePop {
  font-size: 1.5em;
}

#homePop {
  max-height: 70vh;
  overflow: scroll;
}

.imgHomeLocType {
  text-align: center;
  border: 3px solid #000;
  height: 35vh;
  font-size: 3em;
}

.pSubTBox {
  border: 3px solid #000;
  margin: 10px;
}

.pSubTitle {
  text-align: center;
}

.pSectTitle {
  text-align: left;
  padding: 5px;
}

#SFO {
  background-image: url("/css/img/SFO.png");
  background-size: cover;
}

#DEN {
  background-image: url("/css/img/DEN.png");
  background-size: cover;
}

#BOS {
  background-image: url("/css/img/BOS.png");
  background-size: cover;
}

#SEA {
  background-image: url("/css/img/SEA.png");
  background-size: cover;
}

#DFW {
  background-image: url("/css/img/DFW.png");
  background-size: cover;
}

#CHI {
  background-image: url("/css/img/CHI.png");
  background-size: cover;
}

#pale {
  background-image: url("/css/img/pale.png");
  background-size: cover;
}

#mild {
  background-image: url("/css/img/mild.png");
  background-size: cover;
}

#wheat {
  background-image: url("/css/img/wheat.png");
  background-size: cover;
}

#lambic {
  background-image: url("/css/img/lambic.png");
  background-size: cover;
}

#lager {
  background-image: url("/css/img/lager.png");
  background-size: cover;
}

#stout {
  background-image: url("/css/img/stout.png");
  background-size: cover;
}

.postSnip {
  text-align: left;
  border-bottom: 2px solid #000;
}
