<div class="container-fluid">

  <div class="row text-center">
      <h2>{{vm.beer.name}}</h2>
      <a ng-hide="gc.status.username !== vm.beer.createdBy.username" href="/update/{{vm.beer._id}}">update</a>
      <button ng-hide="gc.status.username !== vm.beer.createdBy.username" type="button" ng-click="vm.deleteBeer()">Delete</button>
      <hr>
  </div>


  <div class="row">


    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{vm.beer.imgurl || vm.beer.imgbeer }}" alt="{{vm.beer.name}} image" />
        </div>
        <div class="col-sm-6">
            <h4> Review<small> {{vm.beer.review }} </small></h4><br>
            <h4> Location<small> <a ng-href = "/byLocation/{{vm.beer.location}}">{{vm.beer.location }}</a> </small></h4><br>
            <h4> Type<small> <a ng-href = "/byType/{{vm.beer.type }}">{{vm.beer.type }}</a> </small></h4><br>

            <div class="text-right">
                Posted by: <a ng-href="/userprofile/{{vm.beer.createdBy._id}}">{{vm.beer.createdBy.username}}</a> <b>|</b>
                Posted on: {{vm.beer.created | date: fullDate }} <b>|</b>
                <a href="#">Save beer</a>
            </div>


        </div>
        <div class="col-sm-4">
            <small>BreweryDB table</small><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ABV</th>
                        <th>Type</th>
                        <th>Brewery</th>
                        <th>Label</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{vm.beer.brewerydb.abv}}</td>
                        <td>{{vm.beer.brewerydb.beerType}}</td>
                        <td>{{vm.beer.brewerydb.breweryName}}</td>
                        <td><img src="{{vm.beer.brewerydb.labelImg}}" alt="" /></td>
                        <td>{{vm.beer.brewerydb.breweryUrl}}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>


  <h4>Comments: <small></small></h4>
  <form ng-submit="vm.addComment()">
    <textarea rows ="4" cols ="30" ng-model="vm.comment.message" ></textarea>
    <button type="submit">Submit</button>
  </form>

  <div ng-repeat="m in vm.beer.comments">


    <h4> {{m.createdBy.username}}</h4>
  <p> {{m.message}}</p>
    <button type="button" ng-click="vm.deleteComment(m)">delete</button>
<a ng-href="/update/{{m._id}}">edit</a>

  </div>

    <br>
    <br>

</div>
