
<!-- Heading Row -->
<div class="container">


<div class="row">
    <div class="col-md-8" style="margin-top:30px">
        <img class="img-responsive img-rounded" ng-src="{{vm.beer.imgbeer}}" alt="">
        <h1>{{vm.mybeer.name}}</h1>
        <p>{{vm.beer.beerdesc}}</p><br>
        <h5>Type of Beer: {{vm.beer.brewerydb.beerType}}</h5><br>
        <h5>ABV: {{vm.beer.brewerydb.abv}}</h5><br>
        <a class="btn btn-primary btn-lg" href="#">Brewery Info!</a>
        <a class="btn btn-primary btn-lg" ng-hide="dirForm.toggle" ng-click="dirForm.toggle = true" >Add Beer Review</a>
        <a class="btn btn-primary btn-lg" ng-hide="!dirForm.toggle" ng-click="dirForm.toggle = false" >Hide Form</a>
    <hr>

    </div>


    <!-- /.col-md-8 -->
    <div ng-class="{'hidden': !dirForm.toggle}" class="col-md-4">
        <div style="margin-top:30px">

            <h1>Post your review of: <span style="font-size:50px;color:blue">{{vm.mybeer.name}}</span></h1>
            <hr>
            <form class="form-group"ng-submit="vm.createBeer()">

                <label>Type of Beer: </label>
                <select class="form-control" ng-model="vm.beer.type" name="beertype">
                    <option value="Pale">Pale</option>
                    <option value="Mild">Mild</option>
                    <option value="Wheat">Wheat</option>
                    <option value="Lambic">Lambic</option>
                    <option value="Lager">Lager</option>
                    <option value="Stout">Stout</option>
                </select><br>
                <label>Location: </label>
                <input class="form-control" ng-model="vm.beer.location"><br>
                <label>Image URL: </label>
                <input class="form-control" ng-model="vm.beer.imgurl"><br><br>
                <label>Review of Beer: </label><br>
                <textarea  class="form-control" ng-model="vm.beer.review" rows="8" cols="40"></textarea>
                <input ng-hide="true" ng-model="vm.beer.beerdesc">
                <img ng-hide="true" ng-model="vm.beer.imgbeer"></img>


                <hr>


                <!-- Start Beer Rating -->
                <div>
                    <h3>Beer Ratings: </h3>
                    <label>Hoppiness: </label>
                    <select ng-model="vm.beer.beerscores.hoppiness" name="hoppy">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label>Maltiness: </label>
                    <select ng-model="vm.beer.beerscores.maltiness" name="malty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label>Body: </label>
                    <select ng-model="vm.beer.beerscores.body" name="body">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>
                </div>
                <!-- End Beer Ratings -->
                <hr>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<hr>

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
        <h2>Heading 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Heading 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Heading 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
</div>





    <div class="container-fluid">
        <table class="table table-striped table-bordered" width="120%">
            <thead>
                <tr>
                    <th>Brewery Name</th>
                    <th>Brewery Information</th>
                    <th>Beer Information</th>
                    <th>ABV</th>
                    <th>Beer Type</th>
                    <th>Organic</th>
                    <th>Brewery Label</th>
                    <th>Brewery URL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in vm.brew" >
                    <h1>Brewery for: <span style="font-size:50px;color:blue">{{vm.mybeer.name}}</span></h1>
                    <td style="word-wrap: break-word;width:200px">{{b.name}}</td>
                    <td style="word-wrap: break-word;max-width: 250px">{{b.description}}</td>
                    <td style="word-wrap: break-word;max-width: 250px">{{vm.mybeer.style.description}}<a></a></td>
                    <td style="word-wrap: break-word;max-width: 250px">{{vm.mybeer.abv}}</td>
                    <td style="word-wrap: break-word;max-width: 250px">{{vm.mybeer.style.shortName}}</td>
                    <td style="width:5px">{{b.isOrganic}}</td>
                    <td style="width:125px"><img src="{{b.images.squareMedium}}" alt="" /></td>
                    <td><a href="{{b.website}}">{{b.website}}</a></td>

                </tr>
            </tbody>
        </table>
    </div>
