<div class = "container lgImg">
  <img class = "img-responsive center" ng-src = "/css/img/homeMain.png">
  <div class="intro-text text-center animated slideInDown">
      <div class="intro-heading"><span style="color:white;">beer</span><span style="color:#f0ad4e;">Me</span></div>
      <div class="intro-lead-in">Search your beer now</div>
      <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
  </div>
</div>
<br>
<br>
<div class="animated slideInUp">
  <div class = "row" style = "text-align: center">
    <div class = "col-md-4">
      <h3><a ng-href = "/popular">Popular</a></h3>
    </div>
    <div class = 'col-md-4'>
      <h3><a class='page-scroll' ng-href = '#homeLoc'>By City</a></h3>
    </div>
    <div class = 'col-md-4'>
      <h3><a ng-href = '#homeType'>By Beer Type</a></h3>
    </div>
  </div>
</div>

<br>

<hr>
<div id = 'homeLoc' class = 'container' style = 'text-align: center'>
  <h2>Popular Cities</h2>
  <p><a ng-href = '_top'>Back to Top</a></p>
  <div class = 'row customVSpacer1'>
    <a ng-href = '/byLocation/Bay_Area'><div id = 'Bay_Area' class = 'col-md-3 imgHomeLocType'>Bay Area</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byLocation/Denver'><div id = 'Denver' class = 'col-md-3 imgHomeLocType'>Denver</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byLocation/Boston'><div id = 'Boston' class = 'col-md-3 imgHomeLocType'>Boston</div></a>
  </div>
  <div class = 'row customVSpacer1'>
    <a ng-href = '/byLocation/Seattle'><div id = 'Seattle' class = 'col-md-3 imgHomeLocType'>Seattle</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byLocation/Dallas'><div id = 'Dallas' class = 'col-md-3 imgHomeLocType'>Dallas</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byLocation/Chicago'><div id = 'Chicago' class = 'col-md-3 imgHomeLocType'>Chicago</div></a>
  </div>
</div>
<div id = 'homeType' class = 'container' style = 'text-align: center'>
  <h2>By Beer Type</h2>
  <p><a ng-href = '_top'>Back to Top</a></p>
  <div class = 'row customVSpacer1'>
    <a ng-href = '/byType/Pale'><div id = 'pale' class = 'col-md-3 imgHomeLocType'>Pale</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byType/Mild'><div id = 'mild' class = 'col-md-3 imgHomeLocType'>Mild</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byType/Wheat'><div id = 'wheat' class = 'col-md-3 imgHomeLocType'>Wheat</div></a>
  </div>
  <div class = 'row customVSpacer1'>
    <a ng-href = '/byType/Lambic'><div id = 'lambic' class = 'col-md-3 imgHomeLocType'>Lambic</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byType/Lager'><div id = 'lager' class = 'col-md-3 imgHomeLocType'>Lager</div></a>
    <div class = 'col-md-1 customHSpacer1'></div>
    <a ng-href = '/byType/Stout'><div id = 'stout' class = 'col-md-3 imgHomeLocType'>Stout</div></a>
  </div>
</div>
