<div class = "container-fluid lgImg">
  <img class = "img-responsive" ng-src = "{{vm.locHomeImg}}">
</div>

<div id = "homePop" class = "container" style = "text-align: center">
  <div class = "homeContentView">
    <div class = "row postSnip" ng-repeat = "beer in vm.beers">
      <div class = "col-md-3">
        <img class = "imgHomePop" ng-src = "{{beer.imgurl}}">
      </div>
      <div class = "col-md-9">
        <h3>{{beer.name}}</h3>
        <p class = "textHomePop">{{beer.review}}</p>
      </div>
    </div>
  </div>
</div>
