<div class = "container-fluid lgImg">
  <img class = "img-responsive lgImg" ng-src = "{{vm.locHomeImg}}">
  <div class="intro-text text-center backtext">
      <div class="intro-heading"><h1>{{vm.$routeParams["location"]}}</h1></div>
      <div class="intro-lead-in">Locations</div>
      <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row" ng-repeat = "i in vm.beersLocal">
      <div  class="col-sm-2">
        <a ng-href = '/details/{{i._id}}'><img class="img-responsive beerimagesize" src="{{i.imgurl || i.imgbeer}}" alt="" /></a>
      </div>
      <div class = 'col-sm-10'>
        <h1><a ng-href = '/details/{{i._id}}'>{{i.name}}</a></h1><br>
        location: <a ng-href = '/byLocation/{{i.location}}'>{{i.location}}</a><br>
        created by: <a href='/userprofile/{{i.createdBy._id}}'>{{i.createdBy.username}}</a><br>
      </div>
      <br>
      <hr>
    </div>

  </div>
</div>
