<div class = "container-fluid lgImg">
  <img class = "img-responsive lgImg" ng-src = "{{vm.locHomeImg}}">
</div>

<div class = "pSubTBox">
  <div class = "row" style = "text-align: center">
    <h3>{{vm.locHomeLocation}}</h3>
  </div>
</div>

<div id = "homePop" class = "container" style = "text-align: center">
  <div class = "homeContentView">
    <div class = "row postSnip" ng-repeat = "i in vm.locBeers">
      <div class = "col-md-3">
        <img class = "imgHomePop" ng-src = "{{i.imgurl}}">
      </div>
      <div class = "col-md-9">
        <h3>{{i.name}}</h3>
        <p class = "textHomePop">{{i.review}}</p>
      </div>
    </div>
  </div>
</div>
