<div class="container">
    <div class="row" style="margin-left:180px">
        <h1>Login:</h1><br>
        <form role="form" ng-submit="vm.login()">
            <div class="col-lg-9">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Username</label>
                    <div class="input-group">
                        <input type="text" ng-model="vm.user.username" class="form-control"  id="InputName" placeholder="Enter Username" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Inputpassword">Password</label>
                    <div class="input-group">
                        <input type="password"class="form-control" ng-model="vm.user.password"placeholder="Password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="Login" id="submit" value="Login" class=" btn btn-info pull-right btn-block"><br><br><br>
            </div>
        </form><br>
    </div>
    <div class="row" style="margin-left:180px">
        <h3>...or via FaceBook:</h3>
        <form role="form" ng-submit="vm.loginFB()">
            <div class="col-lg-9">
                <a target = "_self" ng-click = "vm.loginFB()" ng-href = "/usershell/auth/facebook"><img ng-src = "/css/img/fbLogin.png"></a><br><br><br>
            </div>
        </form><br>
    </div>

</div>
