<form ng-submit="vm.submitReset()">
<h1>Reset Password</h1>
<div class="form-group">
  <label for="password">New password</label>
  <input type="text" class="form-control" id="" ng-model="vm.user.setPassword" name="password" placeholder="New password" autofocus="true">
</div>
  <div class="form-group">

    <label for="confirm">Confirm password</label>
    <input type="text" class="form-control" id="" name="confirm" placeholder="Confirm password">
      <input type = "submit" value = "Submit">
</div>
</form>
