<div class="container">
  <form ng-submit="vm.submitReset()">
    <h1>Reset Password</h1>
    <div class="form-group">
      <label for="password">New password</label>
      <input type="password" class="form-control" id="" ng-model="vm.user.setPassword" name="password" placeholder="New password" autofocus="true">
    </div>
    <div class="form-group">

      <label for="confirm">Confirm password</label>
      <input type="password" class="form-control" id="" name="confirm"ng-model="vm.confirm" placeholder="Confirm password">
                                                            <!-- vm.confirm and ng-disabled makes the user not submit the info if the info doesnt match -->
      <br>
      <input type = "submit" class="btn.btn-primary forgotsubmit form-control" style="color:white;" value = "Submit" ng-disabled="vm.user.setPassword !== vm.confirm">
    </div>
  </form>
</div>
