
<div class="container-fluid searchPage">

<div class="animated fadeInLeftBig">
<form  id="sBeer" ng-submit = "vm.searchBeer()" >
  <label  id="sTitle">Search for a Beer </label><br>
  <input  id="sInput"   ng-model = "vm.beer.name" type = "text" placeholder = "Search...."><br><br>
  <button class="bSearch btn btn-info btn-block   type ="submit" ng-click="vm.show()">Beer Me!</button>
</form>
</div>


<div  ng-show="vm.hide === true" class="container bList animated fadeInLeftBig">
<table   style="background-color:white;box-shadow: 10px 10px 5px #888888" class="table table-responsive table-bordered" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>ABV</th>
            <th>Type</th>
            <th>Organic</th>
            <th>Label</th>
            <!-- <th>BeerId</th> -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="b in vm.result">
            <td style="word-wrap: break-word;max-width: 20px"><a href="/addBeer/{{b.id}}">{{b.name}}</a><br><br>
            <button class="btn btn-info btn-primary" type="button" name="button"><a href="/addBeer/{{b.id}}" style="color:white">Select</a></button></td>
            <td style="word-wrap: break-word;max-width: 200px">{{b.style.description}}</td>
            <td style="width:50px">{{b.abv}}</td>
            <td style="width: 30px">{{b.style.shortName}}</td>
            <td style="width: 5px">{{b.isOrganic}}</td>
            <td style="width:125px"><img src="{{b.labels.medium}}" alt="" /></td>
            <!-- <td style="width:5pxdisplay:none">{{b.id}}</td> -->
        </tr>
    </tbody>

</table>
</div>
</div>
