
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form  id="sBeer" ng-submit = "vm.searchBeer()" >
                <label  id="sTitle">Search for a Beer </label><br>
                <input  id="sInput" autofocus  ng-model = "vm.beer.name" type = "text" placeholder = "Search...."><br><br>
                <button class="bSearch btn btn-info btn-block"  type ="submit" ng-click="vm.show()">Beer Me!</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>



    <!-- Beers -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 beerSel" style="background-color:#2B2726" ng-repeat="b in vm.result | filter: {labels:{medium: ''}}">
                <!-- <div class="row beerSel" > -->
                    <!-- <div class="col-lg-4 text-center top" display="margin-right:15px"> -->
                        <div class="label" style="margin-top:15px">
                            <a href="/addBeer/{{b.id}}"><img id="beerlabel" class="img-rounded" src="{{b.labels.medium}}" alt=""></a>
                            <div class="caption">
                                <h3 style="word-wrap: break-word" class="text-center">{{b.name}}<br>
                                </h3>
                                <p style="word-wrap: break-word" class="text-center"><td >{{b.style.shortName}}</td></p>
                            </div>
                        </div>
                    <!-- </div> -->
                <!-- </div><br> -->
            </div>

        </div>
    </div>
</div><br><br>
