<div class = "container">
  <div class = "row">
    <div class = "col-md-9">{{vm.user.username}}'s Page</div>
  </div>

  <div class = "row">
    <div class = "col-md-12">

      <div class = "row">Your Profile</div>

      <div class = "col-md-7">
        <div class = "col-md-6">Avatar: <img ng-src = "{{vm.user.avatarUrl}}"></div>
        <div class = "col-md-6"><button>Edit</button></div>

        <div class = "col-md-6">Username: {{vm.user.username}}</div>
        <div class = "col-md-6"><button>Edit</button></div>
      </div>

      <div class = "col-md-5">
        <div class = "col-md-6">Email: {{vm.user.email}}</div>
        <div class = "col-md-6"><button>Edit</button></div>

        <div class = "col-md-6">Change my password</div>
        <div class = "col-md-6"><button>Edit</button></div>
      </div>

    </div>
  </div>

  <div class = "row">

    <div class = "col-md-6">
      <div class = "row">Your Posts</div>

        <div ng-repeat = "post in vm.user.posts.postsOwn">
          <div class = "col-md-7">{{post.title}}</div>
          <div class = "col-md-5">
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </div>

    </div>

    <div class = "col-md-6">
      <div class = "row">Posts You Liked</div>

        <div ng-repeat = "post in vm.user.posts.postsOthers">
          <div class = "col-md-7">{{post.title}}</div>
          <div class = "col-md-5">
            <button>Remove</button>
          </div>
        </div></div>

  </div>
</div>
