<div class="container">
    <div class="row" style="margin-left:200px">
        <h1>Update User Information</h1><br>
        <form role="form" ng-submit="vm.update()">
            <div class="col-lg-9 ">
                <!-- <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div> -->
                <div class="form-group">
                    <label for="InputName">Username</label>
                    <div class="input-group">
                        <input type="text" ng-model="vm.updateUser.username" class="form-control"  id="InputName" placeholder="Enter Username" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" ng-model="vm.updateUser.email" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Avatar URL</label>
                    <div class="input-group">
                        <input type="avatar" ng-model = "vm.updateUser.avatarUrl" class="form-control"   placeholder="Optional Avatar">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Inputpassword">Old Password</label>
                    <div class="input-group">
                        <input type = "password" class="form-control" ng-model = "vm.updateUser.password" placeholder="Password">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label >New Password</label>
                    <div class="input-group">
                        <input type = "password" class="form-control" ng-model = "vm.updateUser.newpassword" placeholder="Password">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group" ng-class{"has error": }>
                    <label for="Inputpassword">Confirm New Password</label>
                    <div class="input-group">
                        <input  type="password" class="form-control" placeholder="Confirm Password" ng-model = "vm.updateUser.pwdConfirm" type = "password" placeholder = "Confirm password">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <p ng-show="vm.updateUser.newpassword !== vm.updateUser.pwdConfirm" style="color:red">Passwords do not match!</p>
                </div>
                <input ng-disabled="vm.updateUser.newpassword !== vm.updateUser.pwdConfirm" class="btn btn-info pull-right btn-block"  type = "submit" value = "Update">
            </div>
        </form>

    </div>
</div><br><br><br>
